body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E9F19C;
    background: #989788;
}
.main{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content {
    
    min-width: 350px;
    min-height: 80vh;
    margin: 20px auto;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background: #A78682;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    font-size: 35px;
    border: #6F5060 10px solid;
    border-radius: 10px;
    box-shadow: #78776A 5px 10px 5px 2px;   
}

h1 {
    color: #F6FFA1;
    text-shadow: #51344D 4px 8px 5px;
    font-size: 70px;
}

#message-el {
    margin: 10px;
    font-style: italic;
    font-size: 30px;
    text-shadow: #51344D 4px 8px 5px;
}

button {
    color: #E9F19C;
    width: 250px;
    background: #51344D;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    box-shadow: #342132 8px 8px 8px ;
    margin: 8px auto;
    display: block;
}
#topright-spade{
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0px 0px;
    font-size: 40px;
    text-shadow:#51344D 3px 5px 5px;
}
#bottomleft-spade{
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0px 0px;
    font-size: 40px;
    text-shadow:#51344D 3px 5px 5px;
}
@media screen and (min-width: 450px) {
    .content{
        margin: 5px auto;
        width: 90vw;
        height: 80vh;

    }
    p{
        font-size: 1.7em;
    }
    button{
        width: 60vw;
        font-size: 1.7em;
        margin: 10px;
        padding: 10px;
    }
    h1{
        font-size: 5em;
    }
    #message-el{
        font-size: 1.8em;
    }
}