body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E9F19C;
    background: #989788;
}
.main{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main .content {
    min-width: 80vw;
    min-height: 80vh;
    margin: 20px auto;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background: #A78682;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    font-size: 25px;
    border: #6F5060 10px solid;
    border-radius: 15px;
    box-shadow: #78776A 5px 10px 5px 2px;   
}

.content h1 {
    color: #F6FFA1;
    text-shadow: #51344D 4px 8px 5px;
    font-size: 60px;
}

#message-el {
    margin: 10px;
    font-style: italic;
    font-size: 30px;
    text-shadow: #51344D 4px 8px 5px;
}

.content button {
    color: #E9F19C;
    width: 40vw;
    background: #51344D;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    box-shadow: #342132 8px 8px 8px ;
    margin: 8px auto;
    display: block;
    transition: all 0.1s ease-in;
}
.content button:active{
    transform: translateY(3px);
    box-shadow: #342132 8px 5px 8px ;
}
#topright-spade{
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0px 0px;
    font-size: 40px;
    text-shadow:#51344D 3px 5px 5px;
}
#bottomleft-spade{
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0px 0px;
    font-size: 40px;
    text-shadow:#51344D 3px 5px 5px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio:3) and (orientation: portrait) {
    .content{
        margin: 5px;
        width: 90vw;
        height: 90vh;
        
    }
    .content p{
        font-size: 60px;
        margin-top: 30px;
    }
    .content button{
        width: 500px;
        font-size: 50px;
        margin: 30px 0;
        padding: 20px;
        transition: all 0.1 ease-in;
    }
    .content button:active{
        color: black;
        transform: translateY(20px);
        box-shadow: #342132 8px 5px 8px ;
    }
    .content h1{
        font-size: 150px;
    }
    #message-el{
        font-size: 60px;
    }
}
